
.Btn {
    background-color: pink;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #ff9aac;
}

.Btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.Btn:active {
    opacity: 0.9;
}