.Popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a3a3a94;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.Popup > .Box {
    box-shadow: 1px 1px 5px #cfcfcf;
}