html, body, #root, .App {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a.active {
    font-weight: bold;
}

ul {
    display: inline-block;
    padding: 0;
    max-height: 250px;
    width: 500px;
    overflow: auto;
}

ul li {
    list-style-type: none;
    padding: 10px 15px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
}

ul li:hover {
    opacity: 0.8;
}

.shade {
    color: #e3e3e3;
    text-decoration: line-through;
}