.Line {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
}

.Line.between {
    justify-content: space-between;
}

.Line.rows {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}